[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mapdata"]
	path = mapdata
	url = https://github.com/cran/mapdata
[submodule "mapproj"]
	path = mapproj
	url = https://github.com/cran/mapproj
[submodule "maps"]
	path = maps
	url = https://github.com/adeckmyn/maps
